<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Turnos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="card text-white bg-primary mb-3">
        <div class="card-header text-center"><h5>Lista de Turnos</h5></div>
        <div class="card-body">
            <p class="card-text">Consulta la lista de turnos programados.</p>
            <a href="/turnos" class="btn btn-light">Ver Lista de Turnos</a>
        </div>
    </div>
</div>
</body>
</html>
